.footer {
    @include set-background-color($PrimaryColor);
    .footer-info {
        display: flex;
        justify-content: space-between;
    
        @include media ("<=desktop"){
            flex-direction: column;
        }

        .footer-info-item {
            flex: 1;
            text-align: center;
            padding: 3rem;

            .icon {
                width: 10%;
                height: auto;
                margin: 2rem;
                @include media ("<=desktop"){
                    width: 5%;
                }
            }
        }
    }

    p {
        //padding: 2rem;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 3rem;

        a {
            font-weight: 400;
        }
    }
}